a {
    color: black;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(96, 165, 117);
    position: fixed;
    z-index: 3;
    top: 0;
    width: 73%;
}

.logo {
    margin-left: 50px;
    height: 50px;
    width: 50px;
    // border: black solid 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 40px;
        width: 40px;
    }
}

.links {
    display: flex;
    --def: #eaf1ec6e;
    // --inv: rgb(0, 0, 0);
    // border-bottom: 1px solid black;
    opacity: 0; //durchsichtig anfangs
    animation-name: show;
    animation-duration: 1s; //dauer der animation
    animation-iteration-count: 1; //wie oft ausführen
    animation-fill-mode: forwards; // am ende stehend/ backwards: an anfang stehend
    animation-delay: 0s; // verzögernd
}

.box {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

//von-zu methode
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; // 0-1 möglich
    }
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--inv);
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    height: 60px;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--inv);
    transition-delay: .75s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--def);
    transition-delay: .55s;
}


/* From Top */

.from-top:before,
.from-top:after {
    left: 0;
    height: 20%;
    width: 100%;
}

.from-top:after {
    top: 0;
    height: 20%;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}


/* From Left */

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
    text-align: center;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}


/* From Right */

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}


/* From center */

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--def);
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}


/* From Bottom */

.from-bottom:before,
.from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-bottom:after {
    bottom: 0;
    height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
    height: 100%;
}

.logo-bars {
    // display: none;
    height: 80px;
    width: 80px;
}

.hide-bars {
    display: none;
}

@media(max-width: 1000px) {
    .hide-bars {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .bars-menu {
        height: 100px;
        width: 100px;
    }
    .menu {
        display: none;
    }
}