<header>
    <div class="hide-bars">
        <img class="bars-menu" src="assets/img/icons/bars-solid.svg">
        <!--hidden-->
    </div>

    <div class="menu">

        <div class="logo">
            <img src="assets/img/icons/logo.png">
        </div>

        <div class="links">
            <div class="box">
                <div class="btn from-top">
                    <a href="/#home">Home</a>
                </div>
            </div>

            <div class="box">
                <div class="btn from-left">
                    <a href="/#work">Work</a>
                </div>
            </div>

            <div class="box">
                <div class="btn from-right">
                    <a href="/#projects">Projects</a>
                </div>
            </div>

            <div class="box">
                <div class="btn from-center">
                    <a href="/#about">About</a>

                </div>
            </div>

            <div class="box">
                <div class="btn from-top">
                    <a href="/#mail">Mail</a>
                </div>
            </div>

        </div>
    </div>
</header>