a {
    color: black;
    text-decoration: none;
}

.footer {
    height: 130px;
    background-color: rgb(96, 165, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pics {
    display: flex;
    justify-content: center;
    img {
        height: 50px;
        width: 50px;
        margin-right: 10%;
    }
}

.data {
    display: flex;
    justify-content: center;
}

@media(max-width: 1000px) {}