<div class="about" id="about">


    <div class='at-container'>
        <h1 class='at-item'>ABOUT</h1>
    </div>


    <div class="all-box">
        <div class="person">
            <p>
                <br> Hello, my name is Bahareh Etemadi and I am 40 years old.
                <br>I live with my two children in Mettmann.
                <br>I am a very positiv and loyal person.
                <br>I am very motivated and able to learn in my professional life.
                <br> </p>


        </div>
        <div class="pic">
            <img src="assets/img/bahar/reno-bahar-messe.jpg">
        </div>
        <div class="buisnes">
            <p>
                <br> I am a German speaking Front-End developer and IT specialist.
                <br> I started my career in a IT-Company to my tasks belonged training staff in the area of ​​cash registers and billing systems.
                <br> I work 4 years for ReNoar IT Solution K.G. in Meerbusch.
                <br> That was when I came into contact with programming etc,
                <br> I discovered my great interest in programming for the first time.
                <br> During that time, I applied for an intensive course and happily the Developer Academie was accepted.
                <br> Over the last months, I "steadily" built projects for web development and was mentored by a professional software development school in Germany.
                <br> You can find a variety of my Front-End projects in my public porftolio.
            </p>
        </div>
    </div>
</div>