<div class="main" id="projects">

    <div class="overline">
        <h1>Projects</h1>
    </div>

    <!--eine karte-->
    <div class="karte">

        <div class="inhalt-titel">
            <div class="titel">
                <h3>Developer Academie</h3>
            </div>
            <div class="inhalt">
                Text
            </div>
        </div>

        <div class="bild"><img src="./assets/img/proj/developer-academie.jpg">

        </div>
    </div>

    <!--eine karte-->
    <div class="karte">

        <div class="bild"><img src="./assets/img/proj/ell-poco-loco.png">
        </div>

        <div class="inhalt-titel">
            <div class="titel">
                <h3>Ell Pocco Loco</h3>
            </div>
            <div class="inhalt">
                Text
            </div>
        </div>

    </div>

    <!--eine karte-->
    <div class="karte">
        <div class="inhalt-titel">
            <div class="titel">
                <h3>Lieferando</h3>
            </div>
            <div class="inhalt">
                Text
            </div>
        </div>
        <div class="bild"><img src="./assets/img/proj/lieferando.jpg">

        </div>
    </div>

    <!--eine karte-->
    <div class="karte">

        <div class="bild"><img src="./assets/img/proj/sakura.jpg">
        </div>
        <div class="inhalt-titel">
            <div class="titel">
                <h3>Sakura</h3>
            </div>
            <div class="inhalt">
                Text
            </div>

        </div>
    </div>
</div>