<!-- <div class="project">
    <div class="box">
        <div class="left">
            <img src="">
        </div>
        <div class="right">
            <p class="box-text">Developer Academie</p>
        </div>
    </div>

    <div class="box">
        <div class="left">
            <p>Lieferando</p>
        </div>
        <div class="right">
            <img src="assets/img/proj/lieferando.jpg">
        </div>
    </div>

    <div class="box">
        <div class="left">
            <img src="assets/img/proj/sakura.jpg">
        </div>
        <div class="right">
            <p>Sakura</p>
        </div>
    </div>

    <div class="box">
        <div class="left">
            <p>Ell Poco Loco</p>
        </div>
        <div class="right">
            <img src="assets/img/proj/ell-poco-loco.png">
        </div>
    </div>
</div> -->
<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">01</span>
            <span class="card-author subtle">John Smith</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
            <div class="card-read">Read</div>
            <span class="card-tag card-circle subtle">C</span>
        </div>
        <img src="assets/img/proj/developer-academie.jpg" class="card-media" />
    </div>
    <div class="card-shadow"></div>
</div>