.main {
    // width: 70vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overline {
    padding-top: 70px;
    height: 150px;
    text-align: center;
}

.karte {
    margin-bottom: 50px;
    border-radius: 10px;
    height: 200px;
    width: 40vw;
    background-color: rgb(96, 165, 117);
    display: flex;
    box-shadow: 5px 5px 5px 8px #9e9d9db7;
}

.inhalt-titel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titel {
    // width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.inhalt {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.bild {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 150px;
        width: 250px;
        border-radius: 5%;
        object-fit: cover;
    }
}