<div class="main" id="projects">

    <!--überschrift-->
    <div class='overline-box'>
        <h1 class='overline'>PROJECTS</h1>
    </div>

    <div class="all-cards">

        <!--eine karte-->
        <div class="card">

            <div class="inhalt-titel">

                <div class="titel">
                    <h3>Developer Academie</h3>
                </div>

                <div class="inhalt">
                    <p>Text</p>
                </div>

            </div>

            <div class="bild">
                <img src="./assets/img/proj/developer-academie.jpg">
            </div>

        </div>

        <!--eine karte-->
        <div class="card">
            <div class="bild">
                <img src="./assets/img/proj/ell-poco-loco.png">
            </div>
            <div class="inhalt-titel">
                <div class="titel">
                    <h3>Ell Pocco Loco</h3>
                </div>
                <div class="inhalt">
                    <p>Text</p>
                </div>
            </div>
        </div>

        <!--eine karte-->
        <div class="card">
            <div class="inhalt-titel">
                <div class="titel">
                    <h3>Lieferando</h3>
                </div>
                <div class="inhalt">
                    <p>Text</p>
                </div>
            </div>
            <div class="bild">
                <img src="./assets/img/proj/lieferando.jpg">
            </div>
        </div>

        <!--eine karte-->
        <div class="card">
            <div class="bild">
                <img src="./assets/img/proj/sakura.jpg">
            </div>
            <div class="inhalt-titel">
                <div class="titel">
                    <h3>Sakura</h3>
                </div>
                <div class="inhalt">
                    <p>Text</p>
                </div>
            </div>
        </div>
    </div>
</div>