.overline-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.overline {
    color: rgb(96, 165, 117);
    animation-name: elastic;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: elastic 2s linear 0s infinite normal none;
    */
}

@keyframes elastic {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(2.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(2.50);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.all-cards {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 5%;
    height: 250px;
    width: 40%;
    background-color: rgb(96, 165, 117);
    box-shadow: 5px 5px 5px 8px #9e9d9db7;
}

.inhalt-titel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titel {
    height: 100px;
    display: flex;
    justify-content: center;
}

.inhalt {
    display: flex;
    justify-content: center;
}

.bild {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 150px;
        width: 150px;
        border-radius: 5%;
        object-fit: cover;
    }
}

//mobile ansicht
@media(max-width: 1000px) {
    h1,
    h3 {
        font-size: 0.7em !important;
    }
    p {
        font-size: 0.6em !important;
    }
    .titel {
        margin: 8% !important;
    }
    .bild {
        img {
            height: 200px !important;
            width: 100px !important;
        }
    }
}