<div class="main" id="work">

    <div class="overline">
        <h1>Work</h1>
    </div>

    <div class="all-box">
        <!-- 1.box  -->
        <div class="one-box">

            <!--ganze Karte-->
            <div class="flip">
                <div class="front" style="background-image: url(./assets/img/work/html-css.png)">"

                    <h1 class="text-shadow">Frontend</h1>

                </div>
                <div class="back">
                    <h2>Websites</h2>
                    <div class="btn">
                        <button>HTML</button>
                        <button>CSS</button>
                        <button>JS</button>
                    </div>
                    <div class="date">
                        <p>03.11.2021</p>
                    </div>
                </div>
            </div>
            <!-- Beschreibung -->
            <div class="text">
                <p>Beschreibung</p>
            </div>
        </div>

        <div class="one-box">
            <div class="flip">
                <div class="front" style="background-image: url(./assets/img/work/group-work.jpg)">
                    <h1 class="text-shadow">Groupproject</h1>

                </div>
                <div class="back">
                    <h2>Website</h2>
                    <div class="btn">
                        <button>JS</button>
                        <button>GITHUB</button>
                    </div>
                    <div class="date">
                        <p>15.10.2021</p>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>Beschreibung</p>
            </div>
        </div>

        <div class="one-box">
            <div class="flip">
                <div class="front" style="background-image: url(./assets/img/work/api.jpg)">
                    <h1 class="text-shadow">API Schnittstellen</h1>

                </div>
                <div class="back">
                    <h2>Three-overline</h2>
                    <div class="btn">
                        <button>API</button>
                        <button>DATENBANK</button>
                    </div>
                    <div class="date">
                        <p>01.12.2021</p>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>Beschreibung</p>
            </div>
        </div>

        <div class="one-box">
            <div class="flip">

                <div class="front" style="background-image: url(./assets/img/work/respon.png)">
                    <h1 class="text-shadow">Response</h1>

                </div>
                <div class="back">
                    <h2>Four-overline</h2>
                    <div class="btn">
                        <button>ANGULAR</button>
                        <button>TS</button>
                        <button>SCSS</button>
                    </div>
                    <div class="date">
                        <p>07.01.2022</p>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>Beschreibung</p>
            </div>
        </div>
    </div>
</div>