<!--alles-->
<div class="main" id="work">

    <!--überschrift-->
    <div class='overline-box'>
        <h1 class='overline'>WORK</h1>
    </div>

    <!--alle container-->
    <div class="all-box">

        <!-- 1.box  -->
        <div class="one-box">

            <!--ganze Karte-->
            <div class="flip">

                <div class="front" style="background-image: url(./assets/img/work/html-css.png)">"
                    <h1 class="text-shadow">Frontend</h1>
                </div>

                <div class="back">
                    <h2>Programming Websites</h2>

                    <div class="date">
                        <p>03.11.2021</p>
                    </div>
                </div>

            </div>
            <!-- Beschreibung -->
            <div class="text">
                <img src="/assets/img/icons/fontend.png">
                <img src="/assets/img/icons/html.png">
                <img src="/assets/img/icons/css.png">
            </div>

        </div>

        <!--2. karte-->
        <div class="one-box">

            <div class="flip">

                <div class="front" style="background-image: url(./assets/img/work/group-work.jpg)">
                    <h1 class="text-shadow">Groupproject</h1>
                </div>

                <div class="back">
                    <h2>Teamwork programming Websites</h2>

                    <div class="date">
                        <p>15.10.2021</p>
                    </div>

                </div>
            </div>
            <!--beschreibung-->
            <div class="text">
                <img src="/assets/img/icons/javascript.png">
                <img src="/assets/img/icons/git-cat.png">
            </div>
        </div>

        <!--3. karte-->
        <div class="one-box">

            <div class="flip">

                <div class="front" style="background-image: url(./assets/img/work/api.jpg)">
                    <h1 class="text-shadow">API Schnittstellen</h1>
                </div>

                <div class="back">
                    <h2>API's interfaces</h2>
                    <div class="date">
                        <p>01.12.2021</p>
                    </div>
                </div>

            </div>
            <div class="text">
                <img src="/assets/img/icons/api.png">
                <img src="/assets/img/icons/html.png">
            </div>
        </div>
        <div class="one-box">
            <div class="flip">

                <div class="front" style="background-image: url(./assets/img/work/angular-bunt.jpg)">
                    <h1 class="text-shadow">Angular</h1>

                </div>

                <div class="back">
                    <h2>Angular, Typescript & SCSS</h2>
                    <div class="date">
                        <p>07.01.2022</p>
                    </div>
                </div>

            </div>
            <div class="text">
                <img src="/assets/img/icons/angular-ts.png">
            </div>
        </div>
    </div>
</div>