<div class="main" id="mail">
    <div class="overline">
        <h1>Feel free to contact me</h1>
    </div>

    <div class="container">
        <div class="front side">
            <div class="content">
                <img src="assets/img/icons/mail-at.png">
                <!-- <p>I am a graphic designer and art director. I am as well specialised in front end web design, user experience and creating identities. Throughout my career, I have worked with companies of all shapes and sizes that enriched my experience -->
                <!-- </p> -->
            </div>
        </div>
        <div class="back side">
            <div class="content">
                <h1>Contact Me</h1>
                <form>
                    <label>Your Name :</label>
                    <input type="text" placeholder="">
                    <label>Your E-mail :</label>
                    <input type="text" placeholder="">
                    <label>Your message :</label>
                    <textarea placeholder=""></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>

    </div>
</div>