.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    margin-bottom: 5%;
}

.at-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.at-item {
    color: rgb(96, 165, 117);
    animation-name: shake;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
        animation: shake 3s linear 0s infinite normal none;
        */
}

@keyframes shake {
    0% {
        transform: rotate(-15deg);
    }
    2% {
        transform: rotate(15deg);
    }
    4% {
        transform: rotate(-18deg);
    }
    6% {
        transform: rotate(18deg);
    }
    8% {
        transform: rotate(-22deg);
    }
    10% {
        transform: rotate(22deg);
    }
    12% {
        transform: rotate(-18deg);
    }
    14% {
        transform: rotate(18deg);
    }
    16% {
        transform: rotate(-12deg);
    }
    18% {
        transform: rotate(-12deg);
    }
    20% {
        transform: rotate(0deg);
    }
}

.login-form {
    padding: 2em;
    width: 50%;
    background: rgb(96, 165, 117);
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
}

.lf--input {
    flex: 1;
    padding: 1em;
    border: 0;
    font-size: 1rem;
    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

// .message {
//     background-color: blue;
//     text-align: left;
//     margin: 1px;
//     padding: 1px;
//     height: 100px;
//     // vertical-align: top;
//     // height: 120px !important;
// }
.lf--submit {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: rgba(68, 64, 64, 0.349);
    border: 0;
    cursor: pointer;
    font-size: .75em;
    text-shadow: 0 1px 0 rgba(black, .2);
    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

@media(max-width: 1000px) {}