<div class="main" id="mail">

    <div class='at-container'>
        <h3 class='at-item'>Contact Me</h3>
    </div>

    <form action="http://bahareh-etemadi.developerakademie.net/superportfolio" method="post" class='login-form'>

        <div class="flex-row">
            <textarea id="username" class='lf--input message' placeholder='Message' type='name'>
                </textarea>
        </div>

        <div class="flex-row">
            <input id="password" class='lf--input' placeholder='Email' type='email'>
        </div>
        <input class='lf--submit' type='submit' value='Send'>
    </form>

</div>