<div class="first">
    <div class="top">
        <div class="animated-title">
            <div class="text-top">
                <div>
                    <span>Hello, my name is</span>
                    <span> Bahareh Etemadi</span>
                </div>
            </div>
            <div class="text-bottom">
                <div>Front End Developer</div>
            </div>
        </div>
        <div class="pic">
            <img src="assets/img/bahar/bahar-profil.jpg">
        </div>
    </div>
    <div class="underbox">
        <div class="pic-icons">
            <div class="container">
                <div class="btn fb-btn">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="btn ig-btn">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="btn gh-btn">
                    <i class="fab fa-github"></i>
                </div>
                <div class="btn li-btn">
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <app-icons></app-icons> -->