<div class="main" id="home">

    <div class="first">

        <div class="animated-title">

            <div class="text-top">
                <div>
                    <span>Hello, my name is</span>
                    <span> Bahareh Etemadi</span>
                </div>
            </div>

            <div class="text-bottom">
                <div>Front End Developer</div>
            </div>
        </div>


        <img class="img-me" src="assets/img/bahar/bahar-profil-schwarz.jpg">


    </div>
    <img class="img-mail" src="assets/img/icons/mail-at.png">

</div>